.jumbotron {
  padding-top: 1rem;
}

.portfolio {
  background-color: #ffff;
}

section {
  padding-top: 5rem;
}

.about {
  background-color: #373d4110;
}

.contact {
  background-color: #373d4110;
}
